
img, embed, object, video {
  max-width: 100%;
}

body {
  font-family: "Varela+Round", sans-serif;
  /* font-family: 'Roboto Mono', monospace; */
  /* background-color: #383838; */
  background-color: #31333b;
  font-weight: 300;
}

.container {
  background-color: #fff;
}

#header {
  height: 80px;
  background-color: #fff;
  /* background-color: #FA837B; */
  /* background-color: #099DD9; */
}

#header-brand {
  color: #FA837B;
  font-size: 50px;
  margin: 15px 0 15px 100px;
}

.main-panel {
  margin-top: 80px;
}

.text-muted {
  color: #555455;
}

.text-thin {
  font-weight: 100;
}

.title-super {
  font-size: 65px;
  color: #61c9dd;
}

.title-role {
  font-size: 30px;
  color: #555455;
  margin-top: 0;
}

#menu-bar {
  background-color: #c92966;
}

h2, h3 {
  color: #555455;
}

.site-logo-container {
  width: 100px;
  height: 100px;
  margin-top: 25px;
  background-color: #613e9b;
}

.site-logo-text {
  font-family: "Varela+Round", sans-serif;
  font-size: 90px;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  line-height: 100px;
  width: 100px;
  height: 100px;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.modal-image {
  width: 200px;
  height: 108px;
  margin-right: 10px;
}

.modal-body {
  display: flex;
}

nav a, button {
  min-width: 48px;
}

.project-logo:hover  {
  cursor: pointer;
}

.menu-item:hover {
  background-color: #e5e5e5;
}
