<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {%- seo -%}
  
  <!-- Bootstrap core CSS -->
  <link href="{{ site.baseurl }}/dist/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="{{ site.baseurl }}/dist/css/dashboard.css" rel="stylesheet">
  <!-- More custom styles -->
  <link href="{{ site.baseurl }}/assets/css/styles.css" rel="stylesheet">
</head>
