
.project-logo {
  width: 100%;
  max-width: 200px;
  margin-top: 5px;
}

.my-project-row {
  margin-top: 25px;
}

.github-link {
  margin-bottom: 5px;
}  

.nav-link:hover {
  color: #70BECD;
}

#main-content {
  margin-top: 10px;
}

.jumbotron {
  background-color: white;
  border-style: solid;
  border-color: #FF9A83;
}

.pink {
  color: #FF9A83;
}

.lightblue {
  color: #70BECD;
}

.green {
  color: #1F8998;
}

.blue {
  color: #266D9A;
}
