<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">

  {% include head.html %}

  <body>
    {% include navbar.html %}

    <div class="container-fluid">
      <div class="row">
        <!-- <nav class="col-md-2 d-none d-md-block bg-light sidebar"> -->
          <!-- <div class="sidebar-sticky"> -->
            <!-- <ul class="nav flex-column"> -->
              <!-- <li class="nav-item"> -->
                <!-- <a href="/" {% if page.url == "/" %}class="nav-link active"{% else %}class="nav-link"{% endif %}> -->
                  <!-- <span data-feather=""></span> -->
                  <!-- Home <span class="sr-only">(current)</span> -->
                <!-- </a> -->
              <!-- </li> -->
              <!-- <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted"> -->
                <!-- <span>Projects</span> -->
                <!-- <a class="d-flex align-items-center text-muted" href="#"> -->
                  <!-- <span data-feather=""></span> -->
                <!-- </a> -->
              <!-- </h6> -->
              <!-- <li class="nav-item"> -->
                <!-- <a href="{{ site.baseurl }}/projects" {% if page.collection == "projects" %}class="nav-link active"{% else %}class="nav-link"{% endif %}> -->
                  <!-- <span data-feather=""></span> -->
                  <!-- Featured Projects -->
                <!-- </a> -->
              <!-- </li> -->
              <!-- <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted"> -->
                <!-- <span>Resources</span> -->
                <!-- <a class="d-flex align-items-center text-muted" href="#"> -->
                  <!-- <span data-feather=""></span> -->
                <!-- </a> -->
              <!-- </h6> -->
              <!-- <p class="nav-link">Coming soon ...</p> -->
              <!-- {% assign my_items = site.collections | sort: 'order' %} -->
              <!-- {% for col in my_items reversed %} -->
                <!-- {% if col.label != "posts" and col.label != "drafts" and col.label != "projects" %} -->
                  <!-- <li class="nav-item"> -->
                    <!-- <a href="{{ site.baseurl }}/{{ col.label }}" {% if page.collection == col.label %}class="nav-link active"{% else %}class="nav-link"{% endif %}> -->
                      <!-- <span data-feather=""></span> -->
                      <!-- {{ col.pretty_label }} -->
                    <!-- </a> -->
                  <!-- </li> -->
                <!-- {% endif %} -->
              <!-- {% endfor %} -->
            <!-- </ul> -->
          <!-- </div> -->
        <!-- </nav> -->

        <!-- <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4" id="main-content"> -->
        <main role="main" class="col-md-12 ml-sm-auto col-lg-12 px-4" id="main-content">
          {{ content }}
        </main>
      </div>

    </div>

    {% include scripts.html %}
  </body>
</html>
