---
layout: default
---

<div class="main-panel">
  <h2 class="card-title">Featured Projects</h2>
  <div class="row my-project-row">
    <div class="col-md-4">
      <div class="card" style="width: 100%;">
        <img class="card-img-top mx-auto project-logo" src="{{ site.baseurl }}/assets/img/tournament.png" alt="Tournament Organizer Logo">
        <div class="card-body">
          <h5 class="card-title">Tournament Organizer</h5>
          <p class="card-text">
          Python program for organizing multi-player tournaments using the
          Swiss pairing system. Features a custom algorithm to match up players of 
          comparable skill levels while preventing rematches.
          Results are stored in a PostgreSQL database.
          </p>
          <a href="https://github.com/lmitchell4/swiss-pairing" class="btn btn-primary" target="_blank">View on GitHub</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card" style="width: 100%;">
        <img class="card-img-top mx-auto project-logo" src="{{ site.baseurl }}/assets/img/blog.png" alt="Alpha Blog Logo">
        <div class="card-body">
          <h5 class="card-title">Alpha Blog</h5>
          <p class="card-text">
          Template for a blogging website with CRUD functionality based on the Google 
          App Engine Python Standard Environment. Designed to be hosted on the Google Cloud 
          Platform.
          </p>
          <a href="https://github.com/lmitchell4/alpha-blog" class="btn btn-primary" target="_blank">View on GitHub</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card" style="width: 100%;">
        <img class="card-img-top mx-auto project-logo" src="{{ site.baseurl }}/assets/img/fresh_tomatoes.png" alt="Fresh Tomatoes Logo">
        <div class="card-body">
          <h5 class="card-title">Fresh Tomatoes</h5>
          <p class="card-text">
          Python program for generating a website that displays trailers for
          movies and TV shows. I was familiar with classes from programming in
          other languages, but this was an opportunity to work with classes in
          Python for one of the first times.
          </p>
          <a href="https://github.com/lmitchell4/fresh-tomatoes" class="btn btn-primary" target="_blank">View on GitHub</a>
        </div>
      </div>
    </div>      
  </div>
  <div class="row my-project-row">
    <div class="col-md-4">
      <div class="card" style="width: 100%;">
        <img class="card-img-top mx-auto project-logo" src="{{ site.baseurl }}/assets/img/tasker.png" alt="Tasker Logo">
        <div class="card-body">
          <h5 class="card-title">Tasker</h5>
          <p class="card-text">
          Simple Android app for creating to-do lists. This was my first time playing 
          with Android Studio so much time was spent learning to use activities, bundles, 
          and intents.
          </p>
          <a href="https://github.com/lmitchell4/Tasker" class="btn btn-primary" target="_blank">View on GitHub</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card" style="width: 100%;">
        <img class="card-img-top mx-auto project-logo" src="{{ site.baseurl }}/assets/img/sturgeon.png" alt="Sturgeon Logo">
        <div class="card-body">
          <h5 class="card-title">Sturgeon</h5>
          <p class="card-text">
          Statistical model designed to estimate the brood year
          strength of white sturgeon using age
          and length data. Written in R with a Shiny interface to easily change 
          inputs (e.g., growth model type, data binning scheme, etc.).
          </p>
          <a href="https://github.com/lmitchell4/SturgeonBroodYearModel" class="btn btn-primary" target="_blank">View on GitHub</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card" style="width: 100%;">
        <img class="card-img-top mx-auto project-logo" src="{{ site.baseurl }}/assets/img/alphabet.png" alt="Alphabet Game Logo">
        <div class="card-body">
          <h5 class="card-title">Alphabet Game</h5>
          <p class="card-text">
          Game designed to help young children learn the alphabet. I created this
          game as a Swing application because I enjoy programming in Java and
          figuring out how to best structure the classes in my programs.
          </p>
          <a href="https://github.com/lmitchell4/AlphabetGame" class="btn btn-primary" target="_blank">View on GitHub</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row my-project-row">
    <div class="col-md-4">
      <div class="card" style="width: 100%;">
        <img class="card-img-top mx-auto project-logo" src="{{ site.baseurl }}/assets/img/recharge.png" alt="Recharge Logo">
        <div class="card-body">
          <h5 class="card-title">Recharge</h5>
          <p class="card-text">
          Collaborative research project to develop a method for estimating water-table 
          recharge from discrete rain events. I wrote an R program implementing the method
          that is available upon request from the lead author.
          </p>
          <a href="http://wwwrcamnl.wr.usgs.gov/uzf/abs_pubs/papers/nimmo.15.episodicrecharge-complete.groundwater.pdf" class="btn btn-primary" target="_blank">View on GitHub</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card" style="width: 100%;">
        <img class="card-img-top mx-auto project-logo" src="{{ site.baseurl }}/assets/img/matching.png" alt="Matching Game Logo">
        <div class="card-body">
          <h5 class="card-title">Matching Game</h5>
          <p class="card-text">
          Simple web-based memory matching game. I created this game because I really 
          wanted to play
          with jQuery and see if I could carry out all the
          features I had envisioned – from an animated message board to speed controls to 
          a hint button.
          </p>
          <a href="https://github.com/lmitchell4/matching-game" class="btn btn-primary" target="_blank">View on GitHub</a>
        </div>
      </div>
    </div>
  </div>
</div>

